+++
title = "Hydroqc"
linkTitle = "Hydroqc"
description = "Intégrez votre plate-forme domotique, comme Home-Assistant, à votre compte Hydro-Québec."

+++

{{< blocks/cover title="Bienvue à Hydroqc" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/hydroqc">
		Projet <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">Une collection d'outils open source pour récupérer les informations de votre compte Hydro-Québec</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
HydroQC offre un interface avec le portail client Hydro-Québec pour récupérer les informations de votre compte et l'envoyer à d'autres systèmes.

## **Ce projet n'est pas affilié à Hydro-Québec**
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-python" title="Bibliothèque Python" url="https://gitlab.com/hydroqc/hydroqc" %}}
À la base du projet il y a la bibliotèque python HydroQC.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-docker" title="Bienvenue aux contributeurs!" url="https://gitlab.com/hydroqc" %}}
Nous acceptons les [Merge Request](https://gitlab.com/groups/hydroqc/-/merge_requests) sur **Gitlab**. Les nouveaux contributeurs sont les bienvenues!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-discord" title="Venez discuter sur Discord!" url="https://discord.gg/BTPDntfaXH" %}}
Pour le soutien, clavardé et les annonces des dernières fonctionnalités.

{{< /blocks/section >}}

