+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome to Hydroqc" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/hydroqc">
		Project <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">A collection of open-source tools to retrieve information from your Hydro-Québec account</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
HydroQC interfaces with the Hydro-Québec customer portal to retrieve your account information and send it over to other systems.

## **This project is in no way affiliated or endorsed by Hydro-Quebec.**
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-python" title="Python Library" url="https://gitlab.com/hydroqc/hydroqc" %}}
At the base of the project is the hydroqc python library.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-docker" title="Contributions welcome!" url="https://gitlab.com/hydroqc" %}}
We do a [Merge Request](https://gitlab.com/groups/hydroqc/-/merge_requests) contributions workflow on **Gitlab**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-discord" title="Join us on Discord!" url="https://discord.gg/BTPDntfaXH" %}}
For support, discussion and announcement of latest features.

{{< /blocks/section >}}

